body {
	padding: 0;
	margin: 0;
	color: #2c3e50;
}

#background {
	background: url("../img/bg.svg") no-repeat;
	background-position: bottom;
	height: 100vh;
}

.logo {
	width: 200px; 
}

.vertical {
	margin-top: 25vh;
	text-align: center;
}

.middle {
	margin-top: 25vh;
}

.massive-text {
	font-size: 5em;
}

.light-text {
	font-weight: 100;
}

.big {
	height: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

.content {
	height: 100%;
	vertical-align: middle;
}

.content h1 {
	font-size: 2.5rem;
	line-height: 50px;
	top: 35%;
}

.meetup {
	position: relative;
}

.date-piece {
    border-radius: 0.25rem;
    padding: 1.6rem;
    font-size: 1.25em;
    text-align: center;
    background: white;
}

.up {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.center {
    border-radius: 0;
}

.down {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.day,
.venue {
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    color: #8E001C;
}

.day {
	background: #8E001C;
	color: white;
}

.venue {
	background: #FFB300;
}

.month {
    padding-top: 1.75rem;
    padding-bottom: 1.5rem;
    font-size: 1.5em;
    font-weight: 200;
    background: #8E001C;
    color: white;
}

.date {
    padding-top: 1.5rem;
    padding-bottom: 1.75rem;
    font-size: 3rem;
    font-weight: 100;
    color: white;
    background: #FFB300;
}

.top-mar {
	margin-top: 50px;
}

.footer {
    margin: 0!important;
    border-radius:0!important;
}

.justified {
    text-align: justify;
}

#tickets {
    font-size: large; 
}

.bottom-padded {
    padding-bottom: 50px!important;
}

@media only screen and (max-width: 600px) and (orientation: landscape) {
  .logo {
    width: 110px !important;
  }
  .massive-text {
    font-size: 2em !important;
  }
  .light-text {
    font-size: 1.08em !important;
  }
  .ui.grid.container {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
    padding-bottom: 0 !important;
  }
  .mobile.only.center.aligned.column {
    margin: 4px 0 !important;
    min-height: unset !important;
  }
}
